.DS_Store
./__sapper__/*
./**/.cache/*
./**/.env
./cypress/fixtures/*
./cypress/screenshots/*
./cypress/videos/*
./node_modules/*
./src/node_modules/@sapper/*
./**/.nyc_output/*
./**/coverage/*
./**/*.lock
./**/*.log
./**/*.env.json
