{
	"tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": false,
  "singleQuote": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": false,
  "svelteBracketNewLine": false
}
