/.history/
/coverage/
/node_modules/
**/node_modules/
**/__sapper__/
**/cypress/screenshots/
strings.jsonscripts/*
public/*
build/*
dist/*
.git/*
.github/*
.vscode/*
.history/*
.lh/*
.cache/*
.tmp/*
dist/
*.test.*
*.spec.*
*.bak
.DS_Store
~*
*.iml
*.log
*.tmp
.tmp/
.cache/
*.pdf
*.code-workspace
.idea
.vscode/
.git/
.lh/
.history/
node_modules/
test-results/
playwright-*/
static/
*secret*
